<header>
  <div class="inner">
    <a href="{{ '/' | absolute_url }}">
      {% for image in site.static_files %}
        {% if image.path contains 'assets/logo.png' %}
          <img src="{{ image.path }}" alt="" class="logo">
        {% endif %}
      {% endfor %}
    </a>
    <div class="header-title">
      <a href="{{ '/' | absolute_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    <!--
    {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
    {% endif %}
    -->
    <a href="{{ site.github.owner_url }}" class="button"><small>Follow us on</small> GitHub</a>
  </div>
</header>
