---
---

@import "{{ site.theme }}";

$break-small: 405px;

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  display: inline-block;
}

header .inner {
  height: 128px;
  @media only screen and (max-width: 767px) {
    height: 150px;
  }
}

header a.button {
  @media only screen and (max-width: 767px) {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 0px;
    margin: 0px;
  }
}

.header-title {
  margin-left: 150px;
}

header h2 {
  white-space: nowrap; //Disable wrapping on white spaces, the tag line contains <wbr> where needed
  @media screen and (max-width: $break-small) {
    font-size: 1em;
  }
}

#main-content p {
  font-size: 17px;
}

.post-info {
  color: #2d78cb;
  font-weight: bold;
  // Some space above and below
  margin-top: 15px;
  margin-bottom: 50px;
  display: inline-block;
}

.post-info-author::before {
  content: "/";
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
}

#main-content .center-text { 
  margin-top: 24px; 
  margin-bottom: 8px; 
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 20px; 
  font-weight: bold; 
  color: #474747; 
  text-indent: 3px;
}

#main-content .center-text-small { 
  margin-bottom: 8px; 
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px; 
  color: #474747; 
  text-indent: 3px;
}

// Specify the same font size than p for lists, the theme leaves a 15px for ol
#main-content ol { font-size: 17px; }