<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          <span class="post-info post-info-date">{{ page.date | date_to_string }}</span>
          <span class="post-info post-info-author">{{ page.author }}</span>
          {{ content }}
        </section>

        {% include sidebar.html %}
      </div>
    </div>

    {% include googleanalytics.html %}
  </body>
</html>
